@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  src: url(https://example.com/material-symbols.woff) format("woff");
}

:root {
  /* layout */
  --base-unit: 24px;

  /* colors */
  /* colorful */
  --BC-LGRed: #a50034;
  --BC-LGARed: #ff3130;
  --BC-Green1: #409778;
  --BC-Green2: #3f994d;
  /* monotone */
  --MC-DGray: #2c2c2c;
  --MC-DGray2: #212529;
  --MC-LGGray: #6b6b6b;
  --MC-Gray3: #a8a8a8;
  --MC-LGLGray: #d9dadb;

  --MC-LGBlack: #000;
  --MC-LGWhite: #fff;

  --BG: #fafafa;

  /* shadow & gradient*/
  --box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  --box-shadow-light: 5px 5px 10px rgba(0, 0, 0, 0.02);
  --GD1: linear-gradient(rgba(255, 49, 48, 0), rgba(255, 49, 48, 0.1));

  /* font */
  --font-size: 16px;

  /* radius */
  --big-rd: 40px;
  --mid-rd: 20px;
  --sm-rd: 10px;
  --xs-rd: 5px;
}

/* Reset */
a {
  text-decoration: none;
  color: #fff;
}

/* layout */

.container {
  width: 1272px;
  margin: 0 auto;
}

.web_sec {
  padding-top: calc(var(--base-unit) * 6);
}
.web_ct {
  padding-top: calc(var(--base-unit) * 4);
}
.web_ft {
  padding-top: calc(var(--base-unit) * 8);
}

.tm_sec {
  padding-top: calc(var(--base-unit) * 4);
}
.tm_ct {
  padding-top: calc(var(--base-unit) * 3);
}
.tab_ft {
  padding-top: calc(var(--base-unit) * 5);
}

.mob_ft {
  padding-top: calc(var(--base-unit) * 2);
}

.hidden {
  display: none;
}

.d-flex {
  display: flex;
}
.fd-column {
  flex-direction: column;
}
.jcsb {
  justify-content: space-between;
}
.jscs {
  justify-content: start;
}
.jsce {
  justify-content: end;
}
.jcc {
  justify-content: center;
}
.aic {
  align-items: center;
}
.ais {
  align-items: flex-start;
}
.aie {
  align-items: flex-end;
}
.aib {
  align-items: baseline;
}

.g-1 {
  gap: 10px;
}
.g-2 {
  gap: 20px;
}
.g-3 {
  gap: 30px;
}
.g-4 {
  gap: 40px;
}

.g-1 {
  gap: 10px;
}
.g-2 {
  gap: 20px;
}
.g-3 {
  gap: 30px;
}
.g-4 {
  gap: 40px;
}

/* typography */

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: var(--font-size);
  color: var(--MC-DGray);
  line-height: var(--base-unit);
}

.serif {
  font-family: "DM Serif Display", serif;
}

.main-tt {
  font-size: calc(var(--font-size) * 2.5);
  font-weight: 700;
} /*h1*/
.sub-tt {
  font-size: calc(var(--font-size) * 1.875);
  font-weight: 700;
} /*h2*/
.cont-tt {
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 700;
} /*h3*/
.sub-cont-tt {
  font-size: calc(var(--font-size));
  font-weight: 700;
} /*h4*/
.sm-tt {
  font-size: calc(var(--font-size) * 0.875);
  font-weight: 700;
} /*h5*/

.b-m-20 {
  font-size: calc(var(--font-size) * 1.25);
  line-height: calc(var(--base-unit) * 1.25);
} /*medium*/
.b-b-16 {
  font-size: var(--font-size);
  font-weight: 600;
  line-height: var(--base-unit);
} /*bold*/
.b-m-16 {
  font-size: var(--font-size);
  font-weight: 500;
  line-height: var(--base-unit);
} /*medium*/
.b-r-16 {
  font-size: var(--font-size);
  font-weight: 400;
  line-height: var(--base-unit);
} /*regular*/
.b-d-16 {
  font-size: var(--font-size);
  font-weight: 350;
  line-height: var(--base-unit);
} /*demilight*/
.b-l-16 {
  font-size: var(--font-size);
  font-weight: 300;
  line-height: var(--base-unit);
} /*light*/
.b-t-16 {
  font-size: var(--font-size);
  font-weight: 100;
  line-height: var(--base-unit);
} /*thin*/
.b-r-14 {
  font-size: calc(var(--font-size) * 0.875);
  font-weight: 400;
  line-height: var(--base-unit);
}

.uc {
  text-transform: uppercase;
}
.lc {
  text-transform: lowercase;
}
.cl {
  text-transform: capitalize;
}

/* color */

.t-LGRED {
  color: var(--BC-LGRed);
}
.t-LGARED {
  color: var(--BC-LGARed);
}
.t-Green1 {
  color: var(--BC-Green1);
}
.t-Green2 {
  color: var(--BC-Green2);
}

.t-DGray {
  color: var(--MC-DGray);
}
.t-DGray2 {
  color: var(--MC-DGray2);
}
.t-LGGray {
  color: var(--MC-LGGray);
}
.t-Gray3 {
  color: var(--MC-Gray3);
}
.t-LGLGray {
  color: var(--MC-LGLGray);
}

.t-LGBlack {
  color: var(--MC-LGBlack);
}
.t-LGWhite {
  color: var(--MC-LGWhite);
}

.bg-LGRED {
  background-color: var(--BC-LGRed);
}
.bg-LGARED {
  background-color: var(--BC-LGARed);
}
.bg-Green1 {
  background-color: var(--BC-Green1);
}
.bg-Green2 {
  background-color: var(--BC-Green2);
}

.bg-DGray {
  background-color: var(--MC-DGray);
}
.bg-DGray2 {
  background-color: var(--MC-DGray2);
}
.bg-LGGray {
  background-color: var(--MC-LGGray);
}
.bg-Gray3 {
  background-color: var(--MC-Gray3);
}
.bg-LGLGray {
  background-color: var(--MC-LGLGray);
}

.bg-LGBlack {
  background-color: var(--MC-LGBlack);
}
.bg-LGWhite {
  background-color: var(--MC-LGWhite);
}

.bg-default {
  background-color: var(--BG);
}

/* link button */

input:focus{
  outline: none !important;
  box-shadow: 0 0 3px var(--BC-LGRed);
}

.more_btn{
  width: 40px;
  height: 40px;
  border: 2px var(--MC-Gray3) solid;
  border-radius: 50%;
  position: relative;
  transition: 0.6s 0.4s ease-out;
  cursor: pointer;
}
.more_btn .more_line {
  width: 20px;
  height: 20px;
  position: absolute;
  transition: 0.6s 0.4s ease-out;
}
.more_btn .more_line:first-child {
  border-right: 2px var(--MC-Gray3) solid;
  top: 50%;
  transform: translateY(-50%) translateX(-1px);
}
.more_btn .more_line:last-child {
  border-bottom: 2px var(--MC-Gray3) solid;
  left: 50%;
  transform: translateX(-50%) translateY(-1px);
} 
.more_btn:hover{border-color: var(--BC-LGRed);}
.more_btn:hover .more_line{border-color: var(--BC-LGRed);}
.more_btn.close{transform: rotate(45deg);}

.year_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 142px;
  height: 35px;
  border: 1px solid var(--MC-DGray);
  padding: 0;
  border-radius: 17.5px;
  transition: 0.3s ease-out;
  background-color: transparent;
}
button.year_btn span {
  font-size: 20px;
  font-weight: 400;
  color: var(--MC-DGray);
  margin-bottom: 2px;
}
.year_btn:hover {
  border-color: var(--BC-LGRed);
}
.year_btn:hover span {
  color: var(--BC-LGRed);
}
.year_btn.active {
  background-color: var(--BC-LGRed);
  border: none;
}
.year_btn.active span {
  color: var(--MC-LGWhite);
  font-weight: 300;
}

.partition_single {
  width: 20px;
  height: 20px;
  background-color: var(--BC-LGRed);
  border-radius: 50%;
  display: inline-block;
}
.partition_multiple {
  width: 16px;
  height: 16px;
  background-color: var(--BC-LGRed);
  border-radius: 50%;
  display: block;
}
.partition_multiple:first-child {
  opacity: 0.2;
}
.partition_multiple:nth-child(2) {
  opacity: 0.4;
}
.partition_multiple:last-child {
  opacity: 0.6;
}
.partition_multiple + .partition_multiple {
  margin-top: 16px;
}
.arc_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1052px;
  padding: 34px 94px;
  border-radius: 60px;
  background: #fff;
  box-shadow: var(--box-shadow-light);
  box-sizing: border-box;
  transition: 1s ease-out;
}
.arc_card:hover{
  box-shadow: var(--box-shadow);
}
.arc_card .card_title {
  font-size: calc(var(--font-size) * 2.25);
  font-weight: 700;
  line-height: calc(var(--font-size) * 3.25625);
}
.arc_card.active {
  width: 80%;
  max-width: 1052px;
  border-radius: var(--big-rd);
  flex-direction: column;
  gap: 44px;
  position: relative;
  padding: 71px 120px 86px 120px;
  box-sizing: border-box;
}
.arc_card.active > .sep_line {
  width: 100px;
  border-top: 4px solid var(--BC-LGRed);
}
.arc_card.active > .card_info{
  width: 100%;
  text-align: center;
  font-size: 23px;
  font-weight: 300;
  line-height: normal;
}
.arc_card.active > .more_btn {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

/* 이원추가 */
.policyLink{
  width: 240px;
  height: 72px;
  border: 1px solid var(--MC-LGGray);
  border-radius: 20px;
  transition: all 0.2s ease;
}
.policyLink a{
  color: var(--MC-DGray);
}
.policyLink .policy{
  font-weight: 500;
  font-size: 24px;
  margin: 0 50px 0 34px;
}
.policyLink svg{
  margin: 5px 30px 0 0;
}
.policyLink .material-symbols-outlined{
  font-size: 40px;
  font-weight: 300;
}
.policyLink:hover{
  background: var(--BC-Green1);
  border: none;
  border: 1px solid var(--BC-Green1);
  box-shadow:
  -7px -7px 20px 0px #fff9,
  -4px -4px 5px 0px #fff9,
  7px 7px 20px 0px #0002,
  4px 4px 5px 0px #0001;
}
.policyLink:hover span, .policyLink:hover a{
  color: var(--MC-LGWhite);
}
.policyLink:hover path{
  fill: var(--MC-LGWhite);
}

.policyLink .report{
  font-weight: 500;
  font-size: 24px;
  margin: 0 28px 0 34px;
}
.footer_sns a {
  color: var(--MC-DGray);
}
.footer_sns .facebook {
  font-size: calc(var(--font-size) * 1.875);
  margin-right: 26px;
}
.footer_sns .youtube {
  font-size: calc(var(--font-size) * 2.0625);
}
.footer_sns .facebook:hover,
.youtube:hover {
  color: var(--BC-LGRed);
}
.footer_end .footer_recruit {
  width: 144px;
  height: 48px;
  font-size: calc(var(--font-size)*1.375);
  line-height: calc(var(--base-unit)*1.875);
  text-align: center;
  color: var(--MC-DGray);
  border: 1px solid var(--MC-DGray);
  border-radius: calc(var(--sm-rd)*1.5);
  margin-top: 23px;
  transition: all 0.2s ease;
}
.footer_recruit:hover {
  background: var(--BC-LGRed);
  border: 1px solid var(--BC-LGRed);
  color: var(--MC-LGWhite);
  box-shadow:
  -7px -7px 20px 0px #fff9,
  -4px -4px 5px 0px #fff9,
  7px 7px 20px 0px #0002,
  4px 4px 5px 0px #0001;
}
.footer_recruit a {
  font-size: calc(var(--font-size) * 1.375);
  font-weight: 400;
  color: var(--MC-DGray);
  line-height: 48px;
}
.footer_recruit:hover a {
  color: var(--MC-LGWhite);
}

/* 혜인추가 */
.viewmore {
  margin: 20px 0;
}

.b_btn {
  text-align: center;
  line-height: 35px;
  border: 1px solid var(--MC-LGGray);
  color: var(--MC-LGGray);
  border-radius: 30px;
  margin: 0 auto 96px;
  padding: 6px 16px;
  transition: 0.3s ease-out;
}

.b_btn i {
  padding-left: 5px;
}

.b_btn:hover {
  border-color: var(--BC-LGRed);
  color: var(--BC-LGRed);
}

/* form */

/* responsive */

@media screen and (max-width: 1272px) {
  /* desktop */
  .container {
    width: 100%;
    margin: 0px auto;
  }
}

@media screen and (max-width: 768px) {
  /*tablet*/
  .container {
    width: 100%;
    margin: 0px auto;
    padding: 0 40px;
    box-sizing: border-box;
  }
  .container {
    width: 100%;
  }
  .more_btn {
    width: 30px;
    height: 30px;
    border-width: 1px;
    transform-origin: 50% 50%;
    transition: 0.6s;
  }
  .more_btn .more_line {
    width: 15px;
    height: 15px;
  }
  .more_btn .more_line:first-child {
    border-right-width: 1px;
    transform: translateY(-50%) translateX(-0.5px);
  }
  .more_btn .more_line:last-child {
    border-bottom-width: 1px;
    transform: translateX(-50%) translateY(-0.5px);
  }
  .more_btn .more_line{width: 15px;height: 15px;}
  .more_btn .more_line:first-child{
    border-right-width: 1px;
    transform: translateY(-50%) translateX(-0.5px);
  }
  .more_btn .more_line:last-child{
    border-bottom-width: 1px;
    transform: translateX(-50%) translateY(-0.5px);
  }
  button.year_btn{width: 116px;}
  button.year_btn span{width: 116px;font-size: var(--font-size);}
  .partition_single{width: 16px;height: 16px;}
  .arc_card .card_title{
    font-size: calc(var(--font-size)*1.5);
    font-weight: 700;
    line-height: calc(var(--font-size) * 2.175);
  }
  .year_btn span {
    width: 116px;
    font-size: var(--font-size);
  }
  .partition_single {
    width: 16px;
    height: 16px;
  }
  .arc_card .card_title {
    font-size: calc(var(--font-size) * 1.5);
    font-weight: 700;
    line-height: calc(var(--font-size) * 2.175);
  }
  .arc_card.active {
    width: 100%;
    gap: 37.66px;
    padding: 45px 55px 60px 55px;
    border-radius: var(--mid-rd);
  }
  .arc_card.active > .more_btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
  .arc_card.active > .card_info {
    text-align: center;
    font-size: var(--font-size);
    font-weight: 350;
  }
  .web_sec {
    padding-top: calc(var(--base-unit) * 4);
  }
  .web_ct {
    padding-top: calc(var(--base-unit) * 3);
  }
  .web_ft {
    padding-top: calc(var(--base-unit) * 5);
  }

  .main-tt {
    font-size: calc(var(--font-size) * 2.25);
    font-weight: 700;
  } /*h1*/
  .sub-tt {
    font-size: calc(var(--font-size) * 1.5);
    font-weight: 700;
  } /*h2*/
  .cont-tt {
    font-size: calc(var(--font-size) * 1.25);
    font-weight: 700;
  } /*h3*/
  .sub-cont-tt {
    font-size: calc(var(--font-size));
    font-weight: 700;
  } /*h4*/
  .sm-tt {
    font-size: calc(var(--font-size) * 0.875);
    font-weight: 700;
  } /*h5*/
}

@media screen and (max-width: 480px) {
  /*mobile*/
  .container {
    width: 100%;
    margin: 0px auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .more_btn {
    width: 20px;
    height: 20px;
    border-width: 1px;
  }

  .more_btn .more_line{width: 10px;height: 10px;}
  .more_btn .more_line:first-child{
    border-left-width: 1px;
    transform: translateY(-50%) translateX(-95%);
  }
  .more_btn .more_line:last-child {
    border-bottom-width: 1px;
    transform: translateX(-50%) translateY(-0.5px);
  }
  .arc_card {
    padding: 23px 50px;
    border-radius: var(--sm-rd);
  }
  .arc_card .card_title {
    font-size: 14px;
    font-weight: 600;
    line-height: var(--base-unit);
  }
  .arc_card.active {
    gap: 37.66px;
    padding: 24px;
  }
  .arc_card.active > p:last-child{
    font-size: 14px;
    font-weight: 350;
    text-align: center;
  }
  .web_sec {
    padding-top: calc(var(--base-unit) * 4);
  }
  .web_ct {
    padding-top: calc(var(--base-unit) * 3);
  }
  .web_ft {
    padding-top: calc(var(--base-unit) * 2);
  }

  .main-tt {
    font-size: calc(var(--font-size) * 2.25);
    font-weight: 700;
  } /*h1*/
  .sub-tt {
    font-size: calc(var(--font-size) * 1.875);
    font-weight: 700;
  } /*h2*/
  .cont-tt {
    font-size: calc(var(--font-size) * 1.25);
    font-weight: 700;
  } /*h3*/
  .sub-cont-tt {
    font-size: calc(var(--font-size));
    font-weight: 700;
  } /*h4*/
  .sm-tt {
    font-size: calc(var(--font-size) * 0.875);
    font-weight: 700;
  } /*h5*/
}
