/* HEADER */
.aside{display: none;}
header{
  position:relative;
  background-color: transparent;
  transition:0.2s ease-out;
  z-index: 10;
  padding: 62px 0;
  box-sizing: border-box;
  color: #fff;
}
.line{
  position: absolute;
  pointer-events: none;
  top:150px;
  display: block;
  opacity: 0;
  border-top: 1px solid var(--MC-LGWhite);
  width: 100%;
  content: '';
  transition: 0.3s 0.1s ease-out;
}
/* logo */
.logo a{
  display: block;
  background: url('../images/logo_white.png') no-repeat;
  width: 135px;
  height: 25px;
  text-indent: -9999rem;
}
/* nav */
nav{display: flex; justify-content: space-between;}
.menu{
  width: 78%;
  justify-content: space-between;
  display: flex;
}
/* main menu */
nav .menu > ul > li{
  font-size: calc(var(--font-size)*1.25);
  text-align: center;
}
.main_menu{
  width: 720px;
  transition: 0.3s ease-out;
  opacity: 1;
}
.main_menu > li{width: 150px;}
.main_menu li a:hover{color:var(--BC-LGRed);}
.main_menu li a{transition: color 0.3s ease-in;}
.main_menu > li > a > span{position: relative;}
.main_menu > li > a > span:after{
  content: '';
  position: absolute;
  border-bottom: 4px solid var(--BC-LGRed);
  bottom: -63px;
  left: 0;
  width: 0%;
  transition: width 300ms cubic-bezier(0.86, 0, 0.07, 1);
  display: block;
}
.main_menu > li > a > span:hover:after{width: 100%;}
.main_menu > li > ul{margin-top:130px;}
.main_menu li ul{
  text-align: center;
  font-size: 18px;
  font-weight: 350;
  display: none;
}
.company_list, .brand_list{gap: 30px;}
.about_list{
  padding: 44px 0 14px 0;
  position: relative;
}
.about_list:before{
  pointer-events: none;
  position:absolute;
  top:22px;
  left: 50%;
  transform: translateX(-50%);
  content:'';
  display:block;
  border-top: 1px solid var(--MC-LGWhite);
  border-bottom: 1px solid var(--MC-LGWhite);
  width: 25px;
  height: 162px;
}
.main_menu li ul li ul > li{
  font-size: var(--font-size); font-weight: 100; line-height: var(--base-unit);
}
/* search bar */
.search_bar{
  position: relative;
  transition: 0.3s ease-in;
}
form:hover #search_bar{
  opacity: 1;
  visibility: visible;
}
.search_bar label{
  position:relative;
  right: 0px;
  transition: 0.3s ease-out;
}
.search_bar:hover label{right: 20px;position: absolute;}
.search_bar:hover label svg *{fill: var(--BC-LGRed);}
#search_bar{
  right: 0;
  top:-9px;
  padding: 0px 20px;
  position:absolute;
  width: 276px;
  height: 37px;
  border-radius: 18.5px;
  background-color: transparent;
  border: 1px solid var(--MC-LGWhite);
  transition: opacity 0.3s 0.5s ease-out;
  opacity: 0;
  visibility: hidden;
}
#search_bar::placeholder{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--MC-LGWhite);
  font-weight: 300;
}
/* icon menu */
.icon_menu{gap:25px;}
.icon_menu span{display:none;text-indent: -9999rem;}
svg{cursor: pointer;}
.icon_menu svg *{transition: 0.3s ease-out;}
svg:hover > *{fill: var(--BC-LGRed);}
.search_bar form label{display: block;transition: 0.3s 0.2s ease-out;}
/* lang list */
.lang{position:relative;text-align: center;}
.lang_list{
  cursor: pointer;
  display:none;
  background-color: var(--MC-LGWhite);
  left:-50%;
  padding:10px;
  box-sizing: border-box;
  transform: translateX(-25%);
  color: var(--MC-DGray);
  position:absolute;
  top:30px;
  width: 80px;
  height: 68px;
  text-align: center;
  font-size: 14px;
  font-weight: 350;
  transition: 0.3s ease-out;
}
.lang_list li:hover{color: var(--BC-LGRed);}
/* header-clone */
.header-clone{
  padding: 47px 0;
  position: fixed;
  top:-9999em;
  width: 100%;
  color: var(--MC-DGray);
  background-color: var(--MC-LGWhite);
  border-bottom:1px solid var(--MC-LGBlack);
  transition: top 0.3s ease-out;
}
.header-clone.visible {top: 0;}
.header-clone .line{
  position: absolute;
  pointer-events: none;
  top:120px;
  display: block;
  opacity: 0;
  border-top: 1px solid var(--MC-LGBlack);
  width: 100%;
  content: '';
  transition: 0.3s 0.1s ease-out;
}
.header-clone a{color: var(--MC-DGray);}
/* logo */
.header-clone .logo a{background: url('../images/logo_black.png') no-repeat;}
/* main menu */
.header-clone .main_menu > li > a > span{position: relative;}
.header-clone .main_menu > li > a > span:after{
  content: '';
  position: absolute;
  bottom: -47px;
  border-bottom: 4px solid var(--BC-LGRed);
  left: 0;
  width: 0%;
  transition: width 0.3s 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  display: block;
}
.main_menu > li > a > span:hover:after{width: 100%;}
.header-clone .about_list:before{
  pointer-events: none;
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  content:'';
  display:block;
  border-top: 1px solid var(--MC-LGBlack);
  border-bottom: 1px solid var(--MC-LGBlack);
  width: 25px;
  height: 162px;
}
.header-clone .main_menu > li > ul{margin-top:100px;}
/* search bar */
.header-clone #search_bar{border: 1px solid var(--MC-DGray);}
.header-clone #search_bar::placeholder{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--MC-LGGray);
  font-weight: 300;
}
/* icon menu */
.header-clone svg *{fill: var(--MC-DGray);}
.header-clone .lang_list{
  border: 1px solid var(--MC-DGray);
}
.header-clone svg:hover > *{fill: var(--BC-LGRed);}
/* test
body{background-color: silver;}
.test{ height: 6000px;}
 */



/* ESG */
.esg_m1{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.esg_m1::before{
  content: '';
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom: 0;
  background: url("../images/esg_vision_bg.jpg");
  background-size: cover;
  animation: esg 9.0s forwards;
  animation-timing-function: linear;
  background-position: center center;
}
@keyframes esg{
    0%{transform: scale(1.5);}
    100%{transform: scale(1);}
}

.vision_tt{
    text-align: center;
    color: var(--MC-LGWhite);
    width: 457px;
    height: 457px;
    border: 2px solid rgba(255,255,255,.45);
    border-radius: 50%;
}

.vision h1{
    align-items: center;
    font-size: 150px;
    font-weight: 700;
    letter-spacing: 15px;
}

.vision p{
    font-size: calc(var(--font-size)*1.5);
    line-height: calc(var(--base-unit)*1.5);
    font-weight: 400;
}

.scrolldown{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  position: absolute;
  left: 50%;
  bottom: calc(var(--base-unit)*1.5);
  transform: translateX(-50%);
  opacity: 0.5;
  transition: opacity 0.4s ease-out;
}
.scrolldown:hover{
  opacity: 1;
}
.vision .scrolldown_btn{
  border: none;
  background:none;
  color:var(--MC-LGWhite);
}
.vision .down_arrow{
  bottom: calc(var(--base-unit)*2);
} 



.esg_tab ul{
  margin-top: 144px;

}
.esg_tab ul li a{
  font-size: calc(var(--font-size)*1.875);
  font-weight: 500;
  color: var(--MC-DGray);
  margin-right: 132px;
}

.esg_tab ul li a:active{
  color: var(--BC-Green2);
}

.esg_tab svg{
  margin-top: 20px;
}

.esg_declaration {
  margin-top: 145px;
  flex-direction:column;
  text-align: center;
  font-weight: 400;
  line-height: calc(var(--base-unit)*1.375);
}
.esg_declaration p:nth-child(2){
  margin-top: 24px;
}

.esg_goals{
  margin-top: 144px;
  flex-direction:column;
}
.esg_goals h2{
  margin-bottom: 33px;
}
.esg_goals .goals_tt p{
  width: 750px;
  height: 144px;
  background-color: var(--BC-Green1);
  border-radius: 40px;
  border: 1px solid var(--BC-Green1);
  font-size: calc(var(--font-size)*1.5);
  font-weight: 400;
  line-height: calc(var(--base-unit)*6);
  box-shadow: var(--box-shadow);
  color: var(--MC-LGWhite);
  text-align: center;
}
.esg_goals .goals_tt p:last-of-type{
  margin-top: 24px;
}

.esg_propulsion{
  margin-top: 144px;
  flex-direction:column;
}

.esg_propulsion img{
  margin-top: 25px;
}

.propulsion_card .propulsion_card{
  margin: 22px 75px;
  width: 430px;
  height: 361px;
  border-radius: 0px 40px;
  border: 2px solid var(--BC-Green2);
  box-shadow: var(--box-shadow);
  transition: 0.15s ease-in-out;
  text-align: center;
}
.propulsion_card .propulsion_card h3{
  font-size: calc(var(--font-size)*1.625);
  color: var(--BC-Green2);
  font-weight: 700;
  margin: 42px 0;
  line-height: calc(var(--base-unit)*1.25);
}
.propulsion_card .propulsion_card p{
  color: var(--MC-DGray2, #363636);
  font-size: calc(var(--font-size)*1.5);
  line-height: calc(var(--base-unit)*1.25);
}
.propulsion_card .propulsion_card p:first-of-type{
  margin-top: 49px;
}
.propulsion_card .propulsion_card p:last-of-type{
  margin-bottom: 49px;
}
.propulsion_card .propulsion_card:hover{
  border: 2px solid var(--BC-Green1);
  background-color: var(--BC-Green1);
  width: 430px;
  height: 361px;
  border-radius: 0px 40px;
}
.propulsion_card .propulsion_card:hover h3{
  color: var(--MC-LGWhite);
}
.propulsion_card .propulsion_card:hover p{
  color: #ffdfe9;
}