.unclick{
  opacity: 0.5;
}
.aside {
  display: none;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  transition: 0.2s ease-out;
  z-index: 10;
  padding: 62px 0;
  box-sizing: border-box;
  color: var(--MC-LGWhite)
}

.line {
  position: absolute;
  pointer-events: none;
  top: 150px;
  display: block;
  opacity: 0;
  border-top: 1px solid var(--MC-LGWhite);
  width: 100%;
  content: '';
  transition: 0.3s 0.1s ease-out;
}

/* logo */
.logo a {
  display: block;
  background: url('../image/main/nav/logo_white.png') no-repeat;
  width: 135px;
  height: 25px;
  text-indent: -9999rem;
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
}

.menu {
  width: 78%;
  justify-content: space-between;
  display: flex;
  /* align-items: center; */
}

/* main menu */
nav .menu>ul>li {
  font-size: calc(var(--font-size)*1.25);
  text-align: center;
}

.main_menu {
  width: 720px;
  transition: 0.3s ease-out;
  opacity: 1;
}

.main_menu>li {
  width: 150px;
}

.main_menu li a:hover {
  color: var(--BC-LGRed);
}

.main_menu li a {
  transition: color 0.3s ease-in;
}

.main_menu>li>a>span {
  position: relative;
}

.main_menu>li>a>span:after {
  content: '';
  position: absolute;
  border-bottom: 4px solid var(--BC-LGRed);
  bottom: -63px;
  left: 0;
  width: 0%;
  transition: width 200ms cubic-bezier(0.86, 0, 0.07, 1);
  display: block;
}

.main_menu>li>a>span:hover:after {
  width: 100%;
}

.main_menu>li>ul {
  margin-top: 130px;
}

.main_menu li ul {
  text-align: center;
  font-size: calc(var(--font-size)*1.125);
  font-weight: 350;
  display: none;
}

.company_list,
.brand_list {
  gap: 30px;
}

.about_list {
  padding: 44px 0 14px 0;
  position: relative;
}

.about_list:before {
  pointer-events: none;
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  display: block;
  border-top: 1px solid var(--MC-LGWhite);
  border-bottom: 1px solid var(--MC-LGWhite);
  width: 25px;
  height: 162px;
}

/* search bar */
.search_bar {
  position: relative;
  transition: 0.3s ease-in;
}

form:hover #search_bar {
  opacity: 1;
  visibility: visible;
}

.search_bar label {
  position: relative;
  right: 0px;
  transition: 0.3s ease-out;
}

.search_bar:hover label {
  right: 20px;
  position: absolute;
}

.search_bar:hover label svg * {
  fill: var(--BC-LGRed);
}

#search_bar {
  right: 0;
  top: -9px;
  padding: 0px 20px;
  position: absolute;
  width: 276px;
  height: 37px;
  border-radius: 18.5px;
  background-color: transparent;
  border: 1px solid var(--MC-LGWhite);
  transition: opacity 0.3s 0.5s ease-out;
  opacity: 0;
  visibility: hidden;
}

#search_bar::placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: calc(var(--font-size)*0.875);
  color: var(--MC-LGWhite);
  font-weight: 300;
}

/* icon menu */
.icon_menu {
  gap: 25px;
}

.icon_menu span {
  display: none;
  text-indent: -9999rem;
}

header svg {
  cursor: pointer;
}

.icon_menu svg * {
  transition: 0.3s ease-out;
}

header svg:hover>* {
  fill: var(--BC-LGRed);
}

.search_bar form label {
  display: block;
  transition: 0.3s 0.2s ease-out;
}

/* lang list */
.lang {
  position: relative;
  text-align: center;
}

.lang_list {
  cursor: pointer;
  display: none;
  background-color: var(--MC-LGWhite);
  left: -50%;
  padding: 10px;
  box-sizing: border-box;
  transform: translateX(-25%);
  color: var(--MC-DGray);
  position: absolute;
  top: 30px;
  width: 80px;
  height: 68px;
  text-align: center;
  font-size: calc(var(--font-size)*0.875);
  font-weight: 350;
  transition: 0.3s ease-out;
}

.lang_list li:hover {
  color: var(--BC-LGRed);
}

/* header-clone */
.header-clone {
  padding: 47px 0;
  position: fixed;
  top:-120px;
  width: 100%;
  color: var(--MC-DGray);
  background-color: var(--MC-LGWhite);
  border-bottom: 1px solid var(--MC-LGBlack);
  transition: 0.3s ease-out;
}

.header-clone.visible {
  top: 0;
  z-index: 10;
}

.header-clone .line {
  position: absolute;
  pointer-events: none;
  top: 120px;
  display: block;
  opacity: 0;
  border-top: 1px solid var(--MC-LGBlack);
  width: 100%;
  content: '';
  transition: 0.3s 0.1s ease-out;
}

.header-clone a {
  color: var(--MC-DGray);
}

/* logo */
.header-clone .logo a {
  background: url('../image/main/nav/logo_black.png') no-repeat;
}

/* main menu */
.header-clone .main_menu>li>a>span {
  position: relative;
}

.header-clone .main_menu>li>a>span:after {
  content: '';
  position: absolute;
  bottom: -47px;
  border-bottom: 4px solid var(--BC-LGRed);
  left: 0;
  width: 0%;
  transition: width 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  display: block;
}

.main_menu>li>a>span:hover:after {
  width: 100%;
}

.header-clone .about_list:before {
  pointer-events: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  display: block;
  border-top: 1px solid var(--MC-LGBlack);
  border-bottom: 1px solid var(--MC-LGBlack);
  width: 25px;
  height: 162px;
}

.header-clone .main_menu>li>ul {
  margin-top: 100px;
}

/* search bar */
.header-clone #search_bar {
  border: 1px solid var(--MC-DGray);
}

.header-clone #search_bar::placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: calc(var(--font-size)*0.875);
  color: var(--MC-LGGray);
  font-weight: 300;
}

/* icon menu */
.header-clone svg * {
  fill: var(--MC-DGray);
}

.header-clone .lang_list {
  border: 1px solid var(--MC-DGray);
}

.header-clone svg:hover>* {
  fill: var(--BC-LGRed);
}

@media screen and (max-width: 768px) {

  /*tablet*/
  /* 이은서 navigation bar */
  header {
    color: var(--MC-DGray);
    padding: 40px 0px;
  }

  a {
    color: var(--MC-DGray);
  }

  .origin {
    display: none;
  }

  .header-clone {
    display: none;
  }

  .aside {
    display: flex;
  }

  .aside_menu li {
    list-style: none;
  }

  .aside_menu .aside_menu_top {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  /* btn */
  .aside_btn {
    display: block;
    border: none;
    background: none;
  }

  .aside_btn svg * {
    transition: 0.3s ease-in;
  }

  .aside_btn:hover svg * {
    stroke: var(--BC-LGRed);
  }

  .close_btn {
    border: none;
    background: none;
    display: block;
    padding: 0;
    transition: 0.3s ease-out;
  }

  header svg * {
    fill: var(--MC-LGGray);
  }

  .aside_menu span {
    transition: color 0.3s ease-in;
  }

  .aside_menu span:hover {
    color: var(--BC-LGRed);
  }

  .close_btn:hover svg * {
    stroke: var(--BC-LGRed);
  }

  /* aside top */
  .aside_top {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  /* aside side */
  .aside_menu_side {
    box-sizing: border-box;
    position: fixed;
    background-color: var(--MC-LGWhite);
    right: -286px;
    top: 0;
    bottom: 0;
    width: 286px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--base-unit)*2) 0px;
    display: flex;
    transition: right 0.5s ease-out;
  }

  /* asdie sec1 */
  .aside_sec1 {
    width: 226px;
    display: flex;
    justify-content: space-between;
    align-self: center;
  }

  /*login family*/
  .aside_sec1 .login_family {
    display: flex;
    gap: 20px;
    line-height: 15px;
  }

  .login_family li span {
    transition: 0.3s ease-out;
    cursor: pointer;
  }

  .login_family li:hover span {
    color: var(--BC-LGRed);
  }

  .aside_sec1 .user {
    position: relative;
  }

  .aside_sec1 .user:after {
    content: '';
    display: block;
    width: 1px;
    height: 14px;
    background-color: var(--MC-LGGray);
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
  }

  /* asdie sec2 */
  .aside_sec2.aside_search_bar {
    width: 226px;
    align-self: center;
  }

  #aside_search_bar {
    padding: 0px 20px;
    width: 225.5px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid var(--MC-LGGray);
    box-sizing: border-box;
    opacity: 1;
    visibility: visible;
    background-color: transparent;
  }

  .search_form {
    position: relative;
  }

  .aside_search_bar label {
    position: absolute;
    top: 50%;
    transform: translateY(-45%);
    right: 15px;
    transition: fill 0.3s ease-in;
  }

  #aside_search_bar::placeholder {
    color: var(--MC-LGGray);
  }

  /* aside sec3 */
  nav .menu>ul>li {
    text-align: left;
    font-size: calc(var(--font-size)*1.125);
    font-weight: 400;
  }

  .aside .main_menu {
    display: flex;
    gap: var(--base-unit);
    flex-direction: column;
    width: 286px;
    align-items: center;
  }

  .aside .main_menu li {
    width: 100%;
  }

  .aside .main_menu li ul {
    text-align: left;
    margin-top: 0;
  }

  .about_list:before {
    display: none;
  }

  .aside .main_menu>li>a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 226px;
    margin-left: 30px;
  }

  .aside .main_menu>li>a>span:after {
    bottom: -24px;
  }

  .aside .main_menu>li>a>span:hover:after {
    width: 0%;
  }

  .a_close_btn {
    display: inline-block;
    width: 9px;
    height: 6px;
    background-image: url('../image/main/nav/expand_more_btn.svg');
  }

  .aside .main_menu>li>ul {
    display: none;
    background-color: #F0F0F0;
    padding: var(--base-unit) 54px;
    box-sizing: border-box;
    margin-top: var(--base-unit);
    gap: var(--base-unit);
  }

  .aside .main_menu li ul ul {
    display: block;
    padding: var(--base-unit);
  }

  .title a.active div {
    transform: rotate(180deg);
  }

  .info li {
    font-size: calc(var(--font-size)*0.8125);
    font-weight: 350;
    line-height: var(--base-unit);
  }

  .aside .main_menu li ul li ul>li {
    font-size: calc(var(--font-size)*0.8125);
    font-weight: 100;
  }

  .aside .main_menu li ul {
    font-size: calc(var(--font-size)*1.125);
    font-weight: 350;
  }

  /* asdie sec4 */
  .aside_sec4 {
    width: 226px;
    display: flex;
    justify-content: space-between;
    justify-self: flex-end;
  }

  .aside_lang_list {
    display: flex;
    font-size: calc(var(--font-size)*0.875);
    color: var(--MC-LGGray);
    font-weight: 300;
    gap: 20px;
  }

  .aside_lang_list li {
    transition: color 0.3s ease-in;
    cursor: pointer;
  }

  .aside_lang_list li:hover {
    color: var(--BC-LGRed);
  }

  .aside_lang_list .kor {
    position: relative;
  }

  .kor:after {
    content: '';
    display: block;
    width: 1px;
    height: 13px;
    background-color: var(--MC-LGGray);
    position: absolute;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
  }

  .css {
    cursor: pointer;
  }

  /* header white */
  header.white {
    padding: 0;
  }

  header.white .aside_menu_side:after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--MC-DGray);
    top: 0;
    z-index: 10;
    left: 0;
  }

  header.white .logo a {
    display: block;
    background-size: 100% 100%;
    width: 135px;
    height: 25px;
    text-indent: -9999rem;
    background-image: url(../image/main/nav/logo_black@2x.png);
  }

  header.white .aside_btn svg * {
    stroke: var(--MC-DGray);
  }

  header.white .aside_menu_top {
    background-color: var(--MC-LGWhite);
    border-bottom: 1px solid var(--MC-LGGray);
    position: fixed;
    padding: 40px 40px;
    box-sizing: border-box;
    left: 0;
    width: 100%;
  }

  header.white .menu:after {
    border-left: 1px solid var(--MC-LGGray);
  }
}

/* tablet end */

@media screen and (max-width: 480px) {

  /* mobile */
  /* 이은서 nav */
  header {
    color: var(--MC-DGray);
    padding: 22px 0;
  }

  header.white .aside_menu_top {
    background-color: var(--MC-LGWhite);
    border-bottom: 1px solid var(--MC-LGGray);
    position: fixed;
    padding: 22px 20px;
    box-sizing: border-box;
  }

  /* logo */
  .aside_menu .logo a {
    display: block;
    background: url('../image/main/nav/logo_white@2x.png') no-repeat;
    background-size: 100% 100%;
    width: 108px;
    height: 20px;
    text-indent: -9999rem;
  }

  header.white .logo a {
    display: block;
    background-size: 100% 100%;
    width: 108px;
    height: 20px;
    text-indent: -9999rem;
    background-image: url('../image/main/nav/logo_black@2x.png');
  }

  .aside_menu_side {
    box-sizing: border-box;
    position: fixed;
    background-color: var(--MC-LGWhite);
    right: -286px;
    top: 0;
    bottom: 0;
    width: 286px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: var(--base-unit) 0px;
    display: flex;
  }

  .aside_top {
    display: flex;
    flex-direction: column;
    gap: var(--base-unit);
  }

  .aside .main_menu {
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 286px;
    align-items: center;
  }

  .aside .main_menu>li>ul {
    margin-top: 10px;
  }

  #aside_search_bar {
    height: 40px;
    border-radius: 20px;
  }

  .aside_search_bar label {
    right: 20px;
  }
}

/*mobile end */

/* ESG */
/* ESG section m1 */
.esg_m1 {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.esg_m1::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../image/esg/esg_bg.jpg");
  background-size: cover;
  animation: esg 7.0s forwards;
  animation-timing-function: linear;
  background-position: center center;
}

@keyframes esg {
  0% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.esg_m1 .vision_tt {
  text-align: center;
  color: var(--MC-LGWhite);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.esg_main_tt h1 {
  display: inline-block;
  font-size: calc(var(--font-size)*8.125);
  font-weight: 600;
  letter-spacing: 7.5px;
}

.esg_main_tt p {
  padding-top: 20px;
  font-size: calc(var(--font-size)*1.5);
  line-height: calc(var(--base-unit)*1.375);
  font-weight: 300;
}


.vision .scrolldown {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 50%;
  bottom: calc(var(--base-unit));
  transform: translateX(-50%);
  transition: opacity 0.4s ease-out;
}

.vision .scrolldown_btn {
  border: none;
  background: none;
  color: var(--MC-LGWhite);
}

.vision .down_arrow {
  /* bottom: calc(var(--base-unit)*1); */
  animation: downArrow 1.4s infinite ease-out;
}

@keyframes downArrow {
  0% {
    transform: translateY(-8px);
    opacity: 0.7;
  }

  50% {
    transform: translateY(0px);
    opacity: 1;
  }

  100% {
    transform: translateY(3px);
    opacity: 0;
  }
}


/* ESG tabmenu */
.esg_tab ul {
  margin-top: 144px;
}

.esg_tab ul li a {
  font-size: calc(var(--font-size)*1.625);
  font-weight: 500;
  color: var(--MC-DGray);
  position: relative;
}

.esg_tab ul li.active a {
  color: var(--BC-Green2);
}

.esg_tabline svg {
  margin-top: 20px;
}

/* ESG section m2 */
.esg_declaration {
  margin-top: 145px;
  flex-direction: column;
  text-align: center;
  font-weight: 400;
  line-height: calc(var(--base-unit)*1.375);
}

.esg_declaration p:nth-child(2) {
  margin-top: 24px;
}

.esg_goals {
  margin-top: 144px;
  flex-direction: column;
}

.esg_goals h2 {
  margin-bottom: 33px;
}

.esg_goals .goals_tt p {
  width: 750px;
  height: 144px;
  background-color: var(--BC-Green1);
  border-radius: 40px;
  border: 1px solid var(--BC-Green1);
  font-size: calc(var(--font-size)*1.625);
  font-weight: 400;
  line-height: calc(var(--base-unit)*6);
  box-shadow: var(--box-shadow);
  color: var(--MC-LGWhite);
  text-align: center;
}

.esg_goals .goals_tt p:last-of-type {
  margin-top: 24px;
}

.esg_propulsion {
  margin-top: 144px;
  flex-direction: column;
}

.esg_propulsion img {
  margin-top: 25px;
}

.propulsion .propulsion_card {
  margin-top: 30px;
  width: 385px;
  height: 360px;
  border-radius: 0px 40px;
  border: 2px solid var(--BC-Green2);
  box-shadow: var(--box-shadow);
  text-align: center;
}

.propulsion .propulsion_card h3 {
  font-size: calc(var(--font-size)*1.5);
  color: var(--BC-Green2);
  font-weight: 500;
  margin: 43px 0;
  line-height: calc(var(--base-unit)*1.25);
}

.propulsion .propulsion_card p {
  color: var(--MC-DGray2, #363636);
  font-size: calc(var(--font-size)*1.375);
  line-height: calc(var(--base-unit)*1.25);
}

.propulsion .propulsion_card p:first-of-type {
  margin-top: 48px;
}

.propulsion .propulsion_card p:last-of-type {
  margin-bottom: 48px;
}

.propulsion .propulsion_card:nth-child(2) {
  margin: 30px 45px 0 45px;
}

.propulsion .propulsion_card.aos-animate:hover {
  border: 2px solid var(--BC-Green1);
  background-color: var(--BC-Green1);
  transition: 0.2s;
}

.propulsion .propulsion_card:hover h3 {
  color: var(--MC-LGWhite);
}

.propulsion .propulsion_card:hover p {
  color: #ffdfe9;
}

.animate__animated {
  opacity: 0;
  --animate-duration: 0.7s;
}

.mission.animate__animated {
  --animate-duration: 1.0s;
}

.esg_result.animate__animated {
  --animate-duration: 1.0s;
}


/* ESG section m3 */
.esg_m3 {
  width: 100%;
  height: 100%;
  background: url("../image/esg/esg_bg2.jpg") no-repeat center fixed;
  background-size: cover;
  position: relative;
  padding-bottom: 360px;
}

.esg_m3:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 160px;
  background: url("../image/esg/wave_bg_top.png") no-repeat center top/100%;
}

.esg_m3:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 160px;
  background: url("../image/esg/wave_bg_bottom.png") no-repeat center bottom/100%;
}

.esg_mission {
  margin-top: 166px;
}

.esg_mission #mission_tt {
  margin-top: 256px;
  transform: translateX(50%);
}

.esg_mission .mission_ct {
  width: 430px;
  height: 168px;
}

.esg_mission .mission {
  flex-direction: column;
  margin-top: 83px;
}

.esg_mission .mission h3 {
  font-size: calc(var(--font-size)*5);
  font-weight: 700;
  color: var(--BC-Green2);
  margin-top: 30px;
}

.esg_mission .mission_num p {
  color: var(--MC-DGray2);
  font-size: calc(var(--font-size)*1.5);

}

.mission_ct .mission_num {
  flex-direction: column;
  margin-left: 25px;

}

.mission_ct .mission_num p {
  margin-top: 35px;
}

.mission_svg {
  margin: 14px 0;
}

.esg_direction {
  flex-direction: column;
}

.esg_direction img {
  margin-top: 144px;
}

.direction_wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 50px;
}

.direction_slide {
  margin-top: 96px;
  /* transform: translateX(-86px); */
}

.slick-list .direction_li.slick-active,
.slick-list .direction_li.slick-cloned {
  width: 382px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.slick-dots li {
  width: 22px;
  height: 4px;
  background: var(--MC-LGWhite);
  margin: 0 3px;
  transition: 0.3s;
}

.slick-dots li.slick-active {
  background: var(--BC-Green1);
  width: 70px;
  cursor: pointer;
}

.slick-dots button {
  display: none;
}

.slick-arrow {
  position: absolute;
  transform: translateY(-50%);
  font-size: 30px;
  color: var(--MC-LGWhite);
  display: flex;
  cursor: pointer;
}

.slick-arrow.slick-prev {
  bottom: 383px;
  left: 775px;
}

.slick-arrow.slick-prev:active,
.slick-arrow.slick-next:active {
  color: var(--BC-Green1);
}

.slick-arrow.slick-next {
  bottom: 383px;
  right: 775px;
}

.direction_wrapper .direction_li {
  width: 382px;
  height: 288px;
  border-radius: 40px 0px;
  background: var(--MC-LGWhite);
  box-shadow: var(--box-shadow);
  text-align: center;
  transition: .2s ease;
  margin-right: 40px;

}

.direction_slide li h2 {
  font-size: calc(var(--font-size)*1.625);
  color: var(--BC-Green1);
  letter-spacing: -0.52px;
  font-weight: 500;
  margin-top: 97px;
}

.direction_slide li h3 {
  color: #585858;
  font-size: calc(var(--font-size)*1.25);
  font-weight: 400;
  letter-spacing: -0.4px;
  margin-top: 21px;
}

.direction_wrapper ul li:hover,
.direction_wrapper ul li.slick-current {
  background: var(--BC-Green1);
}

.direction_wrapper ul li:hover h2,
.direction_wrapper ul li.slick-current h2 {
  color: #ffdfe9;
}

.direction_wrapper ul li:hover h3,
.direction_wrapper ul li.slick-current h3 {
  color: var(--MC-LGWhite);
}

.esg_result {
  margin-top: 144px;
  flex-direction: column;
}

.esg_result .result_sales {
  flex-direction: column;
  margin-top: 104px;
  width: 215px;
}

.esg_result .result_sales h3 {
  font-size: calc(var(--font-size)*1.375);
  font-weight: 500;
  margin: 20px 0;
}

.esg_result .result_sales span {
  font-size: calc(var(--font-size)*3.125);
  color: var(--BC-Green1);
  font-weight: 700;
}

.result_rating h2 {
  font-size: calc(var(--font-size)*1.5);
  margin: 120px 0 48px 0;
}

.result_rating {
  flex-direction: column;

}

.result_rating .rating_level,
.rating4 {
  text-align: center;
}

.result_rating .rating h3 {
  font-size: calc(var(--font-size)*1.875);
  color: var(--BC-Green1);
  font-weight: 700;
}

.rating_level .rating p {
  font-size: calc(var(--font-size)*1.25);
  font-weight: 400;
  margin-top: 6px;
}

.rating_level .rating {
  width: 132px;
  height: 132px;
  background: var(--MC-LGWhite);
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  flex-direction: column;
}

.rating_level .rating:nth-child(2) {
  margin: 0 50px;
}

.result_rating svg {
  margin: 14px 0;
}

.rating_all {
  flex-direction: column;
  width: 164px;
  height: 164px;
  background: var(--BC-Green1);
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

.rating_all h3 {
  font-size: calc(var(--font-size)*3.125);
  color: var(--MC-LGWhite);
  font-weight: 700;
}

.rating_all p {
  font-size: calc(var(--font-size)*1.25);
  color: var(--MC-LGWhite);
  font-weight: 400;
  margin-top: 15px;
}

.esg_m5{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.esg_m5:before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../image/esg/lisk_bg.jpg") no-repeat;
  background-size: auto;
  background-position: center top;
  margin-top: 144px;
}
.lisk_management .lisk_tt {
  flex-direction: column;
  position: relative;
  margin-top: 292px;
}

.lisk_ad_header .lisk_contt {
  flex-direction: column;
  margin-left: 83px;
}

.lisk_management .lisk_tt h2 {
  color: var(--MC-LGWhite);
  font-weight: 500;
}

.lisk_management .lisk_tt p {
  text-align: center;
  color: var(--MC-LGWhite);
  font-weight: 400;
  margin: 24px 0 72px 0;
  line-height: calc(var(--base-unit)*1.35);
  font-size: calc(var(--font-size)*1.375);
}

.liskBox {
  width: 1056px;
  height: 144px;
  background: #f0f0f0;
  border-radius: 0px 40px;
  box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.10);
  z-index: 10;
  position: relative;
  transition: 0.15s linear;
  margin-bottom: 24px;
}

.liskBox:hover {
  background: var(--BC-Green1);
}

.liskBox:hover .lisk_subtt h3,
.liskBox:hover .lisk_subtt h4 {
  color: var(--MC-LGWhite);
}

.liskBox:hover .lisk_contt p {
  color: var(--BC-Green1);
}

.lisk_subtt {
  flex-direction: column;
  margin-left: 50px;
}

.lisk_subtt h3 {
  font-size: calc(var(--font-size)*1.625);
  font-weight: 500;
  color: var(--MC-DGray);
  margin-right: 70px;
}

.lisk_subtt h4 {
  font-size: var(--font-size);
  font-weight: 350;
  color: var(--MC-DGray);
  text-transform: uppercase;
}

.lisk_contt {
  width: 760px;
}

.lisk_contt p {
  width: 175px;
  height: 65px;
  font-size: calc(var(--font-size)*1.25);
  text-align: center;
  line-height: calc(var(--base-unit)*2.708);
  letter-spacing: -0.4px;
  font-weight: 700;
  color: var(--MC-DGray);
  border-radius: var(--mid-rd);
  border: 1px solid var(--MC-LGWhite);
  background: var(--MC-LGWhite);
  box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.15);
}

.downloadLink {
  margin-top: 48px;
  position: relative;
}

.reportLink {
  margin-left: 90px;
}

@media screen and (max-width: 768px) {
  .esg_main_tt {
    width: 800px;
  }

  .esg_main_tt h1 {
    font-size: calc(var(--font-size)*6.25);
  }

  .esg_main_tt p {
    font-size: calc(var(--font-size)*1.375);
  }

  .esg_tab ul li a {
    font-size: calc(var(--font-size)*1.625);
  }

  .esg_tabline svg {
    margin-top: 20px;
    padding: 0 40px;
  }

  .esg_declaration {
    margin-top: 96px;
  }

  .esg_goals {
    margin-top: 96px;
  }

  .esg_goals .sub-tt,
  .esg_propulsion .sub-tt,
  .esg_result .sub-tt {
    font-size: calc(var(--font-size)*1.875);
  }

  .esg_goals .goals_tt p {
    width: 596px;
    height: 96px;
    font-size: calc(var(--font-size)*1.5);
    line-height: calc(var(--base-unit)*4);
  }

  .esg_propulsion img {
    margin-top: -120px;
  }

  .propulsion {
    flex-direction: column;
  }

  .propulsion .propulsion_card {
    height: 257px;
    margin-top: 24px;
  }

  .propulsion .propulsion_card p:first-of-type {
    margin-top: 22px;
  }

  .propulsion .propulsion_card p:last-of-type {
    margin-bottom: 0;
  }

  .propulsion .propulsion_card:nth-child(1) {
    margin-top: 24px;
  }

  .propulsion .propulsion_card:nth-child(2) {
    margin: 24px 0 0 0;
  }

  .propulsion .propulsion_card p {
    font-size: calc(var(--font-size)*1.25);
    line-height: calc(var(--base-unit)*1.125);
  }

  .propulsion .propulsion_card h3 {
    font-size: calc(var(--font-size)*1.375);
    line-height: calc(var(--base-unit)*1.2);
    margin: 24px;
  }

  .esg_propulsion picture img {
    width: 266px;
    height: auto;
    margin-top: 24px;
  }

  .esg_mission {
    margin-top: 144px;
  }

  .esg_mission #mission_tt {
    margin-top: 144px;
    transform: translateX(50px);
    width: 506px;
  }

  .esg_mission .mission {
    margin-top: 24px;
  }

  .mission_ct .mission_num {
    margin-left: 12.5px;
  }

  .mission_ct .mission_num p {
    margin-top: 18px;
  }

  .esg_mission .mission_num p {
    font-size: calc(var(--font-size)*1.375);
  }

  .esg_mission .mission h3 {
    font-size: calc(var(--font-size)*3.125);
    margin-top: 12px;
  }

  .esg_direction img {
    margin-top: 96px;
    width: 506px;
  }

  .mission_svg {
    margin: -15px 0;
  }

  .direction_slide {
    margin-top: 72px;
  }

  .slick-arrow.slick-prev {
    bottom: 191px;
    left: 200px;
  }

  .slick-arrow.slick-next {
    bottom: 191px;
    right: 200px;
  }

  .esg_m3 {
    padding-bottom: 168px;
  }

  .esg_result {
    margin-top: 120px;
  }

  .esg_result h2 {
    padding-bottom: 24px;
  }

  .result_box {
    flex-wrap: wrap;
    justify-content: center;
  }

  .esg_result .result_sales {
    width: 260px;
    margin-top: 24px;
  }

  .esg_result .result_sales h3 {
    font-size: calc(var(--font-size)*1.375);
  }

  .esg_result .result_sales span {
    font-size: calc(var(--font-size)*2.5);
  }

  .result_rating h2 {
    margin: 96px 0 48px 0;
    font-size: calc(var(--font-size)*1.375);
  }

  .esg_m5:before{
    background-size: 1200px;
  }

  .liskAll {
    margin-top: 72px;
  }

  .lisk_tt .sub-tt {
    font-size: calc(var(--font-size)*1.875);
  }

  .lisk_management .lisk_tt{
    margin-top: 240px;
  }

  .lisk_management .lisk_tt p {
    display: none;
  }

  .liskBox {
    width: 658px;
  }

  .lisk_contt {
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
  }

  .lisk_contt p {
    width: 170px;
    height: 40px;
    font-size: calc(var(--font-size)*1.25);
    line-height: calc(var(--base-unit)*1.5);
    font-weight: 400;
    margin: 5px 10px;
  }

  .lisk_subtt h3 {
    font-size: calc(var(--font-size)*1.25);
  }

  .downloadLink {
    margin-top: 24px;
  }

  .policyLink {
    width: 177px;
    height: 55px;
    border-radius: 10px;
  }

  .policyLink .policy {
    font-size: calc(var(--font-size)*1.25);
    margin: 0 20px 0 18px;
  }

  .policyLink svg {
    scale: 80%;
    margin: 6px 0 0 30px;
  }

  .policyLink .material-symbols-outlined {
    font-size: 32px;
  }

  .policyLink .report {
    font-size: calc(var(--font-size)*1.25);
    margin: 0 0 0 18px;
  }

  .policyLink a {
    margin-left: 18px;
  }
}

@media screen and (max-width: 480px) {
  .esg_main_tt {
    width: 300px;
  }

  .esg_main_tt h1 {
    font-size: calc(var(--font-size)*3.75);
  }

  .esg_main_tt p {
    font-size: 16px;
    line-height: var(--base-unit);
  }

  .esg_tab ul li a {
    font-size: calc(var(--font-size)*1.25);
  }

  .esg_declaration.cont-tt {
    font-size: (var(--font-size)*1.125);
  }

  .vision .b-r-14 {
    font-size: calc(var(--font-size) * 0.8);
  }

  .vision .scrolldown {
    gap: 7px;
  }

  .esg_declaration {
    line-height: calc(var(--base-unit)*1.25);
  }

  .esg_goals .sub-tt,
  .esg_propulsion .sub-tt,
  .esg_result .sub-tt {
    font-size: calc(var(--font-size)*1.5);
  }

  .esg_goals .goals_tt p {
    width: 437px;
    height: 96px;
    font-size: calc(var(--font-size)*1.125);
    line-height: calc(var(--base-unit)*4);
  }

  .esg_declaration {
    width: 360px;
    margin: 0 auto;
    padding: 96px 0 0 0;
  }

  .esg_propulsion picture {
    margin-top: 0;
  }

  .esg_propulsion {
    margin-top: 96px;
  }

  .propulsion .propulsion_card:nth-child(1) {
    margin-top: 24px;
  }

  .esg_m3 {
    padding-bottom: 128px;
  }

  .esg_mission {
    margin-top: 96px;
  }

  .esg_mission .mission {
    margin-top: 0;
  }

  .esg_mission #mission_tt {
    margin-top: 96px;
    transform: translateX(50px);
    width: 328px;
  }

  .mission_ct img {
    scale: 65%;
  }

  .mission_ct .mission_num {
    margin-left: -5px;
  }

  .esg_direction img {
    margin-top: 48px;
    width: 385px;
    height: auto;
  }

  .direction_tt img {
    transform: translateX(0px);
  }

  .mission_svg {
    margin: -25px 0;
  }

  .direction_slide {
    margin-top: 24px;
  }

  .slick-arrow.slick-prev {
    bottom: 150px;
    left: 70px;
  }

  .slick-arrow.slick-next {
    bottom: 150px;
    right: 70px;
  }

  .esg_result {
    margin-top: 72px;
  }

  .esg_result h2 {
    padding-bottom: 0px;
  }

  .rating_level .rating {
    width: 100px;
    height: 100px;
  }

  .rating_level .rating p {
    font-size: calc(var(--font-size)*1.125);
  }

  .rating_all {
    width: 144px;
    height: 144px;
  }

  .reportLink {
    margin-left: 35px;
  }

  .esg_m5:before{
    margin-top: 96px;
    background-size: 1000px;
  }

  .liskAll {
    margin-top: 55px;
  }

  .lisk_management .lisk_tt{
    margin-top: 192px;
  }
  .lisk_tt .sub-tt {
    font-size: calc(var(--font-size)*1.5);
  }

  .liskBox {
    width: 437px;
    height: 96px;
  }

  .lisk_contt {
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    display: none;
  }

  .downloadLink {
    margin-top: 24px;
  }
}

/* 이원 aside */
.topBtn {
  position: fixed;
  left: 88%;
  bottom: 18%;
  z-index: 1000;
}

#top {
  position: absolute;
  width: 65px;
  height: 65px;
  background: #363636;
  border: 1px solid #363636;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.30);
  transition: opacity 0.5s;
  visibility: hidden;
  opacity: 0;
}

#top.active {
  visibility: visible;
  opacity: 1;
}

#top svg {
  position: absolute;
  left: 0;
  top: 13px;
  transform: translate(30px);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.10);
}

#top:hover {
  transition: 0.2s ease-out;
  background: var(--BC-LGRed);
  border: 1px solid var(--BC-LGRed);
}

@media screen and (max-width: 768px) {
  .topBtn {
    left: 87%;
  }

  #top {
    width: 60px;
    height: 60px;
  }

  #top svg {
    top: 10px;
    transform: translate(28px);
  }
}

@media screen and (max-width: 480px) {
  .topBtn {
    left: 82%;
  }

  #top {
    width: 50px;
    height: 50px;
  }

  #top svg {
    top: 8px;
    transform: translate(23px);
  }

  #top line {
    scale: 85%;
  }
}

/* 정이원 footer - web */
/* 이원 footer */
.footer {
  margin-top: 216px;
  padding: 48px 0;
  background-color: #F0F0F0;
}

.footer_link li {
  font-size: calc(var(--font-size)*1.25);
  margin-right: 20px;
  font-weight: 500;
}

.footer_link li a {
  color: var(--MC-DGray);
}

.footer_link .footer_support {
  color: var(--BC-LGRed);
  font-weight: 700;
}

.footer_address {
  margin-top: 48px;
}

.footer_address .lghnh span:first-child {
  margin-right: 20px;
}

.footer_address span {
  font-weight: 700;
  margin-right: 5px;
}

.footer_sns a {
  color: var(--MC-DGray);
}

.footer_sns .facebook {
  font-size: calc(var(--font-size)*1.875);
  margin-right: 26px;
  transition: 0.1s;
}

.footer_sns .youtube {
  font-size: calc(var(--font-size)*2.0625);
  transition: 0.1s;
}

.footer_sns .facebook:hover,
.youtube:hover {
  color: var(--BC-LGRed);
}

.footer_end .copyright {
  margin-top: 48px;
  font-size: calc(var(--font-size)*0.875);
}

.footer_end .footer_recruit {
  width: 144px;
  height: 48px;
  font-size: calc(var(--font-size)*1.375);
  line-height: calc(var(--base-unit)*1.875);
  text-align: center;
  color: var(--MC-DGray);
  border: 1px solid var(--MC-DGray);
  border-radius: calc(var(--sm-rd)*1.5);
  margin-top: 23px;
  transition: all 0.3s ease;
}

.footer_recruit:hover {
  background: var(--BC-LGRed);
  border: 1px solid var(--BC-LGRed);
  color: var(--MC-LGWhite);
}


/* 정이원 footer - tablet & mobile */
@media screen and (max-width: 768px) {
  .footer {
    margin-top: 120px;
  }

  .footer_link li {
    font-size: var(--font-size);
  }

  .footer_link .privacy {
    display: none;
  }

  .footer_sns a {
    justify-content: center;
  }

  .footer_sns .facebook {
    font-size: calc(var(--font-size)*1.5);
    margin-right: 26px;
  }

  .footer_sns .youtube {
    font-size: calc(var(--font-size)*1.75);
  }

  .footer_end .footer_recruit {
    width: 107px;
    height: 36px;
    font-size: var(--font-size);
    line-height: calc(var(--base-unit)*1.5);
    margin-top: 33px;
  }

  .footer_recruit {
    width: 107px;
    height: 36px;
    margin-top: 32px;
  }

  .footer_recruit a {
    font-size: var(--font-size);
    line-height: calc(var(--base-unit)*1.5);
  }

  .footer_end .copyright {
    font-size: calc(var(--font-size)*0.875);
  }
}

@media screen and (max-width: 480px) {
  .footer {
    margin-top: 120px;
    padding: 24px 0;
  }

  .footer_link {
    flex-direction: column;
    align-items: center;
  }

  .footer_link li {
    font-size: var(--font-size);
    font-weight: 400;
  }

  .footer_sns {
    margin-top: 26px;
  }

  .footer_sns .facebook {
    font-size: calc(var(--font-size)*1.1875);
    margin-right: 19px;
  }

  .footer_sns .youtube {
    font-size: calc(var(--font-size)*1.375);
  }

  .footer_address {
    display: none;
  }

  .footer_end .footer_recruit {
    width: 73px;
    height: 30px;
    border-radius: var(--xs-rd);
    font-size: calc(var(--font-size)*0.875);
  }

  .footer_end {
    align-items: center;
    flex-direction: column-reverse;
  }

  .footer_end .copyright {
    margin-top: 18px;
    font-size: calc(var(--font-size)*0.75);
  }

  .footer_end .footer_recruit {
    line-height: calc(var(--font-size)*1.875);
    margin: 8px 0;
  }
}