/* 이은서 navigation bar */
body{
  background-color: silver;
}
header{
  position:relative;
  background-color: transparent;
  transition:0.2s ease-out;
  z-index: 10;
  padding: 62px 0;
  box-sizing: border-box;
  color: #fff;
  vertical-align: top;
}
.line{
  position: absolute;
  pointer-events: none;
  top:150px;
  display: block;
  opacity: 0;
  border-top: 1px solid var(--MC-LGWhite);
  width: 100%;
  content: '';
  transition: 0.3s 0.1s ease-out;
}
.header-clone.visible {
  top: 0;
}
.header-clone{
  padding: 47px 0;
  position: fixed;
  top:-9999em;
  width: 100%;
  color: var(--MC-DGray);
  background-color: var(--MC-LGWhite);
  border-bottom:1px solid var(--MC-LGBlack);
  transition: top 0.3s ease-out;
}
.header-clone .line{
  position: absolute;
  pointer-events: none;
  top:120px;
  display: block;
  opacity: 0;
  border-top: 1px solid var(--MC-LGBlack);
  width: 100%;
  content: '';
  transition: 0.3s 0.1s ease-out;
}
.header-clone a{
  color: var(--MC-DGray);
}
.header-clone .logo a{
  background: url('../image/main/nav/logo_black.png') no-repeat;
}
.logo a{
  display: block;
  background: url('../image/main/nav/logo_white.png') no-repeat;
  width: 135px;
  height: 25px;
  text-indent: -9999rem;
}
header.white .logo a{
  background: url('../image/main/nav/logo_black.png') no-repeat;
}
.menu{
  width: 78%;
  justify-content: space-between;
  display: flex;
}
nav{
  display: flex;
  justify-content: space-between;
}
nav .menu > ul > li{
  font-size: calc(var(--font-size)*1.25);
  text-align: center;
}
.main_menu{
  width: 720px;
  transition: 0.3s ease-out;
  opacity: 1;
}
.main_menu > li{
  width: 150px;
}
.main_menu li a:hover{
  color:var(--BC-LGRed);
}
.header-clone .main_menu > li > a > span{
  position: relative;
}
.header-clone .main_menu > li > a > span:after{
  content: '';
  position: absolute;
  bottom: 10%;
  border-bottom: 4px solid var(--BC-LGRed);
  left: 0;
  width: 0%;
  transition: width 0.3s 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  display: block;
  /* z-index: 10; */
}
.header-clone .main_menu > li > a > span:after{
  content: '';
  position: absolute;
  border-bottom: 4px solid var(--BC-LGRed);
  bottom: -47px;
  left: 0;
  width: 0%;
  transition: width 300ms cubic-bezier(0.86, 0, 0.07, 1);
  display: block;
}
.main_menu > li > a > span{
  position: relative;
}
.main_menu > li > a > span:after{
  content: '';
  position: absolute;
  border-bottom: 4px solid var(--BC-LGRed);
  bottom: -63px;
  left: 0;
  width: 0%;
  transition: width 300ms cubic-bezier(0.86, 0, 0.07, 1);
  display: block;
}
.main_menu > li > a > span:hover:after{
  width: 100%;
}
.main_menu > li > ul{
  margin-top:130px;
}
.header-clone .main_menu > li > ul{
  margin-top:100px;
}
.main_menu li ul{
  text-align: center;
  font-size: 18px;
  font-weight: 350;
  display: none;
}
.company_list, .brand_list{
  gap: 30px;
}
.about_list{
  padding: 44px 0 14px 0;
  position: relative;
}
.about_list:before{
  pointer-events: none;
  position:absolute;
  top:22px;
  left: 50%;
  transform: translateX(-50%);
  content:'';
  display:block;
  border-top: 1px solid var(--MC-LGWhite);
  border-bottom: 1px solid var(--MC-LGWhite);
  width: 25px;
  height: 162px;
}
.header-clone .about_list:before{
  pointer-events: none;
  position:absolute;
  top:22px;
  left: 50%;
  transform: translateX(-50%);
  content:'';
  display:block;
  border-top: 1px solid var(--MC-LGBlack);
  border-bottom: 1px solid var(--MC-LGBlack);
  width: 25px;
  height: 162px;
}
.main_menu li ul li ul > li{
  font-size: var(--font-size); font-weight: 100; line-height: var(--base-unit);
}
.search_bar{
  position: relative;
  transition: 0.3s ease-in;
}
form:hover #search_bar{
  opacity: 1;
  visibility: visible;
}
.search_bar label{
  position:relative;
  right: 0px;
  transition: 0.3s ease-out;
}
.search_bar:hover label{
  right: 20px;
  position: absolute;
}
.search_bar:hover label svg *{
  fill: var(--BC-LGRed);
}
.header-clone #search_bar{
  border: 1px solid var(--MC-DGray);
}
#search_bar{
  right: 0;
  top:-9px;
  padding: 0px 20px;
  /* display:none; */
  position:absolute;
  width: 276px;
  height: 37px;
  border-radius: 18.5px;
  background-color: transparent;
  border: 1px solid var(--MC-LGWhite);
  transition: opacity 0.3s 0.5s ease-out;
  opacity: 0;
  visibility: hidden;
}
#search_bar::placeholder{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--MC-LGWhite);
  font-weight: 300;
}
.header-clone #search_bar::placeholder{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--MC-LGGray);
  font-weight: 300;
}
.icon_menu{
  gap:25px;
}
.icon_menu span{
  display:none;
  text-indent: -9999rem;
}
.icon_menu svg *{
  transition: 0.3s ease-out;
}
.header-clone svg *{
  fill: var(--MC-DGray);
}
svg:hover *{
  fill: var(--BC-LGRed);
}
.search_bar form label{
  display: block;
  transition: 0.3s 0.2s ease-out;
}
.lang{
  position:relative;
  text-align: center;
}
.header-clone .lang_list{
  border: 1px solid var(--MC-DGray);
}
.lang_list{
  display:none;
  background-color: var(--MC-LGWhite);
  left:-50%;
  padding:10px;
  box-sizing: border-box;
  transform: translateX(-25%);
  color: var(--MC-DGray);
  position:absolute;
  top:30px;
  width: 80px;
  height: 68px;
  text-align: center;
  font-size: 14px;
  font-weight: 350;
  transition: 0.3s ease-out;
}
.lang_list li:hover{
  color: var(--BC-LGRed);
}
/* .lang:hover .lang_list{
  opacity: 1;
  display:block;
} */

.test{
  height: 6000px;
}

.aside_btn{
  display:none;
}
.close_btn{
  display: none;
}

/* 한수연 mainslide */

/* 박혜인 business */

/* 박혜인 esg */

/* 팀 공동 new arrivals */

/* 팀 공동 press release */

/* 정이원 footer */

/* responsive  */

@media screen and (max-width: 768px){ /*tablet*/
  .container{width:688px;}
  header{
    color: var(--MC-DGray);
    padding: 40px 0;
  }
  header.white{
    background-color: var(--MC-LGWhite);
    border-bottom: 1px solid var(--MC-LGGray);
  }
  header.white .menu{
    border-left: 1px solid var(--MC-LGGray);
  }
  /* 이은서 nav */
  a{
    color: var(--MC-DGray);
  }
  .aside_btn{
    display:block;
    border: none;
    background: none;
  }
  header.white .aside_btn svg *{
    stroke: var(--MC-DGray);
  }
  .close_btn{
    border:none;
    background: none;
    display: block;
    position: absolute;
    right:30px;
    padding: 0;
  }
  .menu{
    box-sizing: border-box;
    position:fixed;
    background-color: var(--MC-LGWhite);
    right:0;
    top:0;
    bottom:0;
    width: 286px;
    flex-direction: column;
    justify-content: flex-start;
    gap:24px;
    padding: 48px 0;
    display:none;
  }
  .main_menu{
    flex-direction: column;
    width: 100%;
    position:absolute;
    top:192px;
    gap:24px;
  }
  nav .menu > ul > li{
    text-align: left;
    font-size: 18px;
    font-weight: 400;
  }
  .main_menu > li > a{
    margin-left: 30px;
  }
  .main_menu li{
    width: 100%;
  }
  .main_menu li ul{
    text-align: left;
    margin-top: 0;
  }
  .about_list:before{
    display: none;
  }
  .main_menu > li > a{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main_menu > li > a > span:after{
    bottom: -24px;
  }
  .main_menu > li > a > span:hover:after{
    width: 0%;
  }
  .a_close_btn{
    display: inline-block;
    width: 9px;
    height: 6px;
    margin-right: 30px;
    background-image: url('../image/main/nav/expand_more_btn.svg');
  }
  .search_bar{
    position:absolute;
    top:110px;
    right: 15px;
  }
  #search_bar{
    right: 15px;
    top:-9px;
    padding: 0px 20px;
    width: 225.5px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid var(--MC-LGGray);
    box-sizing: border-box;
    opacity: 1;
    visibility: visible;
  }
  .search_bar label{
    position: absolute;
    right: 35px;
    top:5px;
  }
  .search_bar:hover label{
    right: 35px;
  }
  #search_bar::placeholder{
    color: var(--MC-DGray);
  }
  .icon_menu svg:not(.search_icon){
    display:none;
  }
  svg *{
    fill: var(--MC-LGGray);
  }
  .icon_menu span:not(.lang_span){
    display:block;
    text-indent: 0;
    font-size: 15px;
    line-height: 15px;
  }
  .main_menu > li > ul{
    display:none;
    background-color: #F0F0F0;
    padding: 24px 54px;
    box-sizing: border-box;
    margin-top: 24px;
    gap:24px;
  }
  .main_menu li ul ul{
    display:block;
    padding: 24px 24px;
  }
  .title a.active div{
    transform: rotate(180deg);
  }
  .info li{
    font-size: 13px;
    font-weight: 350;
    line-height: var(--base-unit);
  }
  .main_menu li ul li ul > li{
    font-size: 13px;
  }
  .main_menu li ul{
    font-size: 18px;
    font-weight: 350;
  }
  .icon_menu {
    gap: 0;
  }
  .family_mall, .user{
    position:absolute;
    top:48px;
  }
  .user{
    left:30px;
  }
  .user:after{
    content:'';
    display: block;
    width: 1px;
    height: 13px;
    background-color: var(--MC-LGGray);
    position:absolute;
    right:-15px;
    top:50%;
    transform: translateY(-50%);
  }
  .family_mall{
    left: 100px;
  }
  .css{
    position:absolute;
    bottom:48px;
    right:30px;
  }
  .lang{
    position:absolute;
    bottom:100px;
    left:30px;
  }
  .lang_list{
    transform: translateX(0);
    width: 134px;
    height: 14px;
    display:flex;
    gap: 20px;
    top:36px;
    background:none;
    padding:0;
    color: var(--MC-DGray);
    font-size: 14px;
    font-weight: 350;
    position:absolute;
    line-height: 14px;
  }
  .kor{
    position: relative;
  }
  .kor:after{
    content:'';
    display: block;
    width: 1px;
    height: 13px;
    background-color: var(--MC-LGGray);
    position:absolute;
    right:-9px;
    top:1px;
  }
}

@media screen and (max-width: 480px){ /*mobile*/
  .container{width:100%;}
  /* 이은서 nav */
  header{
    color: var(--MC-DGray);
    padding: 22px 0;
  }
  .logo a{
    display: block;
    background: url('../image/main/nav/logo_white.png') no-repeat;
    background-size: 100% 100%;
    width: 108px;
    height: 20px;
    text-indent: -9999rem;
  }
  header.white .logo a{
    background-size: 100% 100%;
    width: 108px;
    height: 20px;
  }



}