/* 이은서 navigation bar */

/* 한수연 mainslide */

/* 박혜인 business */

/* 박혜인 esg */

/* 팀 공동 new arrivals */

/* 팀 공동 press release */

.news_box{
    width: 1440px;
    height: 768px;
    border-radius: 10px;
    border: 1px solid var(--MC-LGLGray);
    margin: 96px 0 190px 0;
}

.news_header{
    margin: 48px 60px 0 60px;
}

.news_content{
    font-weight: 400;
    line-height: 48px;
    margin: 48px 0 0 60px;
    position: relative;
}

.news_content p{
    width: 818px;
    margin-left: 41px;
    text-align: justify;
}


.news_header{
    position: relative;
}

.news_header button{
    position: absolute;
    right: 0;
    width: 47px;
    height: 47px;
    border: none;
    border-radius: 50%;
    border: 2px solid #363636;
    /* margin-left: 70px; */
}
.news_header button i{
    font-size: calc(var(--font-size)*1.875);
    color: #363636;
}
.news_header button:active{
    background: #363636;
}

.news_header button:active i{
    font-size: calc(var(--font-size)*1.875);
    color: var(--MC-LGWhite);
    transform: rotate(45deg);
}


.news_content .viewmore{
    position: absolute;
    left: 425px;
    top: 335px;
}
/* 정이원 aside */


/* 정이원 footer */
.footer {
    height: 313px;
    background-color: #F0F0F0;
}
.footer_box {
    padding: 48px 0;
}

.footer_link li{
    margin-right: 20px;
    font-weight: 500;
}
.footer_link .footer_support{
    color: var(--BC-LGRed);
    font-weight: 700;
}

.footer_address{
    margin-top: 48px;
}
.footer_address .lghnh span:first-child{
    margin-right: 20px;
}
.footer_address span{
    font-weight: 700;
    margin-right: 5px;
}

.footer_sns a{
    color: var(--MC-DGray);
}
.footer_sns .facebook{
    font-size: calc(var(--font-size)*1.875);
    margin-right: 26px;
}
.footer_sns .youtube{
    font-size: calc(var(--font-size)*2.0625);
}
.footer_sns .facebook:hover,.youtube:hover{
    color: var(--BC-LGRed);
}

.copyright{
    margin-top: 48px;
    font-size: 12px;
}
.footer_recruit{
    width: 144px;
    height: 48px;
    border: 1px solid var(--MC-DGray);
    border-radius: 10px; 
    text-align: center;
    margin-top: 23px;
}
.footer_recruit a{
    font-size: calc(var(--font-size)*1.375);
    font-weight: 400;
    color: var(--MC-DGray);
    line-height: 48px;
}
.footer_recruit:hover{
    border: none;
    background: var(--BC-LGRed);
    border: 1px solid var(--BC-LGRed);
}
.footer_recruit:hover a{
    color: var(--MC-LGWhite);
}

@media screen and (max-width: 768px){
    .footer {
        height: 312px;
        padding: 55px 40px 0px 40px;

    }

    .footer_box {
        padding: 0;
    }

    .footer_link li{
        font-size: var(--font-size);
    }

    .footer_sns .facebook{
        font-size: calc(var(--font-size)*1.5);
        margin-right: 26px;
    }
    .footer_sns .youtube{
        font-size: calc(var(--font-size)*1.75);
    }


    .footer_recruit{
        width: 107px;
        height: 36px;
        margin-top: 32px;
        }
    .footer_recruit a{
        font-size: var(--font-size);
        line-height: 36px;
        }

    .footer_address{
        margin-top: 54px;
    }
    .copyright{
        font-size: 14px;
    }
}
@media screen and (max-width: 480px){
    .footer{
        height: 192px;
        flex-direction:column;
        position: relative;
        padding: 0;    
    }
    .footer_link{
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
    }
    .footer_link .privacy{
        display: none;
    }
    
    .footer_sns{
        position: absolute;
        top: 118px;
    }

    .footer_address{
        display: none;
    }
    .footer_recruit{
        width: 80px;
        height: 30px;
        border-radius: 5px;
    }
    .footer_recruit a{
        font-size: 14px;
    }

    .copyright{
        font-size: 12px;
        top: 152px;

        position :absolute;
    }
    .footer_end{
        display:flex;
        flex-direction:column-reverse;
        align-items: center;
    }
}