/* 이은서 navigation bar */

/* 한수연 mainslide */

/* 박혜인 business */

/* 박혜인 esg */

/* 팀 공동 new arrivals */

/* 팀 공동 press release */

.m5 h2{
    line-height: 48px;
    margin-bottom: 96px;
}
.news_box{
    width: 1104px;
    margin: 0 auto;
}
.ui-accordion-header-icon{
    display:none;
}

.news_header{
    width: 1104px;
    border-bottom: 1px dashed var(--MC-DGray);
    padding-bottom: 20px;
    margin-top:48px;
}
.news_header button{
    background-color: var(--MC-LGWhite);
    border: none;
    transition: 0.2s;  
}
.news_header button i{
    font-size: calc(var(--font-size)*1.375);
    color: #363636;
    transform:rotate(0deg);
    font-weight: 500;
}
.news_header.ui-state-active button i{
    font-size: calc(var(--font-size)*1.375);
    transform: rotate(45deg);
}
.news_header button.active i{
    font-size: calc(var(--font-size)*1.375);
    transform: rotate(45deg);
}

.news_content{
    margin: 52px 41px 0 41px;
    position: relative;
}
.news_content p{
    font-weight: 400;
    line-height: 28.8px;
    text-align: justify;
}
.news_content .news_text{
    margin-left: 60px;
    flex-direction: column;
}
.news_text p:nth-child(2){
    margin-top: 16px;
}
.news_content .viewmore{
    margin-top: 63px;
}
.news_content .viewmore a{
    font-size: 16px;
    font-weight: 400;
}
.viewmore {
    width: 138px;
    height: 37px;
    border: 1px solid var(--MC-LGGray);
    border-radius: 30px;
    text-align: center;
    color: var(--BC-LGRed);
}
.viewmore a {
    color:var(--MC-LGGray);
}
.viewmore i {
    margin-left: 9px;
}
.viewmore a, .viewmore i{
    margin-top: 10px;
}
.viewmore:hover{
    color: var(--BC-LGRed);
    border-color: var(--BC-LGRed);
}
.viewmore:hover .b_btn{
    color: var(--BC-LGRed);
}


/* 정이원 aside */


/* 정이원 footer */
.footer {
    margin-top: 216px;
    padding: 48px 0;
    background-color: #F0F0F0;
}


.footer_link li{
    font-size: calc(var(--font-size)*1.25);
    margin-right: 20px;
    font-weight: 500;
}
.footer_link li a{
    color: var(--MC-DGray);
}

.footer_link .footer_support{
    color: var(--BC-LGRed);
    font-weight: 700;
}

.footer_address{
    margin-top: 47px;
}
.footer_address .lghnh span:first-child{
    margin-right: 20px;
}
.footer_address span{
    font-weight: 700;
    margin-right: 5px;
}


.footer_sns a{
    color: var(--MC-DGray);
}
.footer_sns .facebook{
    font-size: calc(var(--font-size)*1.875);
    margin-right: 26px;
}
.footer_sns .youtube{
    font-size: calc(var(--font-size)*2.0625);
}
.footer_sns .facebook:hover,.youtube:hover{
    color: var(--BC-LGRed);
}

.footer_end .copyright{
    margin-top: 47px;
    font-size: 14px;
}
.footer_end .footer_recruit{
    width: 144px;
    height: 48px;
    font-weight: 400;
    border: 1px solid var(--MC-DGray);
    border-radius: 10px; 
    text-align: center;
    margin-top: 23px;
    color: var(--MC-DGray);
    font-size: calc(var(--font-size)*1.375);
    line-height: 45px;
}
.footer_recruit:hover{
    border: none;
    background: var(--BC-LGRed);
    border: 1px solid var(--BC-LGRed);
    color: var(--MC-LGWhite);
}


@media screen and (max-width: 768px){
    .container{
        width:100%; 
        padding: 0 40px;
        box-sizing: border-box;
    }
    .m5 h2{
        font-size: calc(var(--font-size)*2.25);
        margin-bottom: 65px;
    }
    .news_box{
        width: 100%;
    }
    .news_header{
        width: 100%;
        padding-bottom: 10px;
    }
    .news_header .news_tt{
        font-size: calc(var(--font-size)*1.25);
        width: 70%;
        line-height: 140%;
    }
    

    .news_content img{
        width: 240px;
        height: 240px;
    }
    .news_text p:nth-child(2){
        display: none;
    }
    .news_content .news_text{
        margin-left: 40px;
    }

    




    .footer {
        margin-top: 120px;
        height: 288px;
    }
    .footer_box{
        padding: 0;
    }
    

    .footer_link ul, .footer_sns{
        margin-top: 48px;
    }

    .footer_link li{
        font-size: var(--font-size);
    }

    .footer_link .privacy{
        display: none;
    }
    .footer_sns .facebook{
        font-size: calc(var(--font-size)*1.5);
        margin-right: 26px;
    }
    .footer_sns .youtube{
        font-size: calc(var(--font-size)*1.75);
    }


    .footer_recruit{
        width: 107px;
        height: 36px;
        margin-top: 32px;
        }
    .footer_recruit a{
        font-size: var(--font-size);
        line-height: 36px;
        }

    .footer_address{
        margin-top: 54px;
    }
    .copyright{
        font-size: 14px;
    }
}
@media screen and (max-width: 480px){
    .container{width:480px; margin: 0 20px;}

    .footer{
        height: 192px;
        padding: 0;
    }
    .footer_link li, .footer_link .footer_sns{
        margin-top: 24px;
    }
    .footer_link{
        flex-direction:column;
    }
    .footer_link li{
        font-size: var(--font-size);
        font-weight: 400;
    }
    .footer_sns .facebook{
        font-size: calc(var(--font-size)*1.1875);
        margin-right: 19px;
    }
    .footer_sns .youtube{
        font-size: calc(var(--font-size)*1.375);
    }
    .footer_address{
        display: none;
    }
    .footer_end .footer_recruit{
        width: 73px;
        height: 30px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 400;
    }
    .footer_end{
        flex-direction:column-reverse;
    }
    .footer_end .copyright{
        font-size: 12px;
    }
}